.on-banner-btn-wrap {
    background: url(../images/ontario/on-speech-bubble.png) no-repeat center center;
    background-size: contain; @include flex-center();
    width: 320px; height: 276px; padding-top: 55px;  margin: 30px auto -80px auto;
    @include breakpoint('xl', min) { width: 650px; }
    @include breakpoint('md', min) { width: 100%; height: auto; padding-top: 24%; padding-bottom: 32%;  margin-top: 0; margin-bottom: 0; }
    .list-icon-btn-wrap{ width: 262px; 
        @include breakpoint('xl', min) { width: 60%;}
        @include breakpoint('lg', min) { width: 70%; max-width: 400px;}
        .btn.site-btn .btn-text{ margin-left: 0; margin-right: 0;}
    }    
    
}

// on-section-support-service
.on-section-support-service{
    .heading-holder{ max-width: 340px;}
}
.support-cards{ background-color: $white_color; border-radius: 9px; padding: 20px 12px; height: 100%;  @include box-shadow(0, 0, 24px, 0, rgba(0,0,0,0.24));
    display: flex; flex-direction: column;
    .media-img{ margin-right: 2rem;}
    .button-holder{ margin-top: auto; }
    .cards-body{ flex: 1 1 auto; margin-bottom: 20px; margin-top: 15px;}
    .button-holder .btn.site-btn.btn-rightarrow {
        padding-right: 47px;
    }

}


// on-section-connexOntario

.on-section-connexOntario{
    .connex-img{margin-top: -100px;
        @include breakpoint('lg', min) { margin-top: -140px; }
    }
    @include breakpoint('md', max) { 
        .btn.site-btn.btn-rightarrow{width: 100%; }
    }
}

// ======== on-section-resources

.on-section-resources{}
.cards.resources-cards{ background-color: transparent; box-shadow: none; border: 0px;
    .cards-img{ overflow: hidden; @include box-shadow(0, 0, 24px, 0, rgba(0,0,0,0.29)); border-radius: 10px; 
        border: 2px solid rgba(255,255,255,0);
        figure{ position: relative; padding-top: 74%;
            img{ position: absolute; left: 0; right: 0; top:0; bottom: 0; object-fit: cover; width: 100%; height: 100%; }  
        }
        &:hover{ border-color: $secondary_color; @include transition-prefixes(0.3s); }
    }
    .cards-body{ padding: 20px 0 15px;
        .heading-3{line-height: 1.45; 
            a{ text-decoration: none; color: $black_color;
                &:hover{ text-decoration: underline; }
            }
        }
    }
}

.tag-list{
    .tags{ display: inline-flex; background-color: $white_color; box-shadow: 0 0 12px 0 rgba(0,0,0,0.2); border-radius: 16px;
        border: 2px solid transparent; padding: 0px 10px 2px; font-size: 1.4rem;  color: $black_color; text-decoration: none;
        &:hover{ border-color: $secondary_color; background-color: $secondaryHover_color; }
    }
}



// ======== on-section-insta-feed
.on-section-insta-feed{}
.insta-bg-wrap{ position: absolute; top: 0; right: 0; left: 0; height: 100%; z-index: 0;
    img{object-fit: cover; height: 100%; width: 100%;  @include transition-prefixes(0.3s); }
}
.insta-feed{ padding: 24px 0 12px;
    .next-prev-sider{ margin-top: 55px; }
}
.cards.insta-cards{ border-color: transparent;  background-color: $white_color;
    &:hover{ border-color: $secondary_color;}
    .cards-img{  position: relative;
        img{ @include transition-prefixes(0.3s);} 
        &::after{ @include afterbefore();  @include transition-prefixes(0.3s);}
        &:hover{
            &::after{ background-color: rgba(0,0,0,0.6);}
            img{transform: scale(1.05);}
        }
  }
}


// on-section-contact
.on-section-contact{ padding-top: 60px; padding-bottom: 60px; background: $site-bg-light url(../images/ontario/gray-arch-white-bg.png) no-repeat center 0;
    background-size: contain;
    @include breakpoint('lg', min) { padding-top: 100px; padding-bottom: 80px;}
    .list-icon-btn-wrap li{
        @include breakpoint('lg', max) { margin-bottom: 0; }
        @include breakpoint('md', max) { width: 100%; }
    }
   .gap-20{ gap: 20px;}
   
}


// floating-tools

.floating-tools{ position: fixed; width: 85px; height: auto; display: flex; flex-direction: column; top: 50%; transform: translateY(-50%);
 right: 15px; box-shadow: 0 0 24px rgba(0,0,0,0.16); background: #fff; border: 2px solid transparent; border-radius: 200px;  padding-top: 24px;  padding-bottom: 30px; z-index: 99999;
    @include breakpoint('xl', max) { bottom: 15px; width: auto;  height: 60px; transform: translateX(-50%); left: 50%;  right: auto; flex-direction: row; 
        padding: 5px 24px 6px; gap: 30px; align-items: flex-end; top: auto;
    }
    @include breakpoint('md', max) { top: auto;  bottom: 15px;
        left: 20px;
        right: 20px;
        padding: 5px 20px 6px;
        transform: none;
        justify-content: space-between;
        width: calc(100% - 40px);
    }
    .tool { display: flex; flex-direction: column; text-align: center; text-decoration: none; margin-bottom: 20px; 
        @include breakpoint('xl', max) { margin-bottom: 0px;}
        .icon {color:$secondary_color;
            .fa-bars , .fa-xmark{ font-size: 22px;}
            // @include breakpoint('xl', max) {font-size: 18px; }
            img { height: 32px; max-width: 32px;
                @include breakpoint('xl', max) { height: 26px; max-width: 26px;}
            }
        }
        .text { font-size: 1.2rem; color: $body_color; line-height: normal; white-space: nowrap;}
        .ext-icon{color:$secondary_color; margin-left: -5px;}
        &:last-child{ margin-bottom: 0px;}
        &:hover{
            .text { text-decoration: underline;}
        }
        &.tool-menu{ 
            @include breakpoint('xl', min) {display: none; }
            .icon{ 
                .fa-xmark{ display: none; }
                .fa-bars{ display: inline-block; }
            }
            &.open{
                .icon{ 
                    .fa-xmark{ display: inline-block; }
                    .fa-bars{ display: none; }
                }
            }  
         }
    }
    &:hover{ border-color: $secondary_color; background-color: $secondaryHover_color; }
}