.main-menu{
    .navbar-nav{
        .nav-item{ position: relative;
            @include breakpoint('xl', max) { text-align: right;}
            .nav-link{ position: relative; padding: 15px 30px; color: $black_color; @include font-size($font-size-body); line-height: 1.2 !important;
                font-weight: $fontBold;   
                @include breakpoint('xl', max) { 
                    display: inline-block;
                    padding: 15px 0px;
                  
                }
                &::before{ width: 0; height: 2px; background-color: $black_color;  content: ""; position: absolute; bottom: 15px; }  
                &:hover{
                    &::before{ 
                        @include breakpoint('xl', min) { 
                           width: calc(100% - 60px); 
                        }
                    }
                }
                &.dropdown-toggle {
                    &::after{ background: url(../images/icon/accodion-down-arrrow-icon.svg) no-repeat; background-size: contain; border: 0px; 
                        width: 13px; height: 10px; margin-left: 5px; vertical-align: middle; }    
                }
                .ext-icon{
                    i, svg{ transform: rotate(-45deg); }
                }
            }

            &:last-child{
                .nav-link{ padding-right: 0px;
                    &:hover{
                        &::before{ width: calc(100% - 30px); }
                    }
                }
            }
            .dropdown-menu{border-radius: 0 15px 15px 15px; background-color: #fffdf8; border: none; margin-top: 0px; padding-top: 20px; 
                padding-bottom: 15px;
               
               @include breakpoint('xl', min) {box-shadow: 0 3px 6px rgba(0,0,0,0.16); width: 270px;  display: block !important; 
                opacity: 0; visibility: hidden; }
                li{ padding-bottom: 5px;
                    @include breakpoint('xl', max) { text-align: right;}
                    a{@include font-size($font-size-body); padding: 3px 30px;}
                 
                    .dropdown-item{white-space: normal; }
                }
            }
            &.dropdown{
                &:hover{
                    .dropdown-menu{ opacity: 1; visibility: visible;  }
                    &::after{content: ""; width: 100%; height: 20px;  bottom: -10px; display: inline-block; position: absolute;
                        left: 0; background-color: #fffdf8; z-index: 1000;}
                    .nav-link{border-radius: 15px 15px 0 0; background-color: #fffdf8;
                         
                         @include breakpoint('xl', min) {box-shadow: 0 3px 6px  rgba(0,0,0,0.16); }
                         
                    }
                }
                
                li{
                    a.dropdown-item{ 
                        &:hover ,  &:active , &:focus { background-color: transparent; color: $black_color; text-decoration: underline; }
                    }
                    
                }
                
            }
            
        }
    }
}


@include breakpoint('xl', max) {
    .offcanvas-collapse{ position: fixed; top: 100%; bottom: 0; left: 0; width: 100%; height: 100%;  padding-right: 30px; padding-left: 30px; padding-bottom: 100px;
    padding-top: 30px; overflow-y: auto; visibility: hidden; transition: transform .3s ease-in-out, visibility .3s ease-in-out;  z-index: 1001;  background: #fffdf8;
        &.show {
            visibility: visible;
            transform: translateY(-100%);
        }
    }
    // .navbar-toggler[aria-expanded= "true"]{ color: #f00;}
   
}

.main-header.sticky{
    .main-menu{ 
        .navbar-nav .nav-item.dropdown:hover {
            .nav-link{ box-shadow: none;} 
        } 
    }
}