/* FONTS weight */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
/* ========================== */
/* START OF RESET CSS */
/* ========================== */
html {
  font-size: 10px;
}

h1, h2, h3, h4 {
  margin-bottom: 30px;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  line-height: 1.63;
  background: #fffdf8;
}
@media screen and (min-width: 992px) {
  body {
    font-size: 1.6rem;
    line-height: 1.63;
  }
}

p {
  font-size: 1.6rem;
  line-height: 1.63;
  font-weight: 400;
  color: #413d45;
}
@media screen and (min-width: 992px) {
  p {
    font-size: 1.6rem;
    line-height: 1.63;
  }
}

figure {
  margin-bottom: 0;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  border: 0;
}

a {
  color: #413d45;
}

a:hover {
  color: #6dc8bf;
}

:-webkit-scrollbar {
  width: 0;
}

.btn {
  border: 2px solid;
  color: #000;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
}
.btn:focus {
  box-shadow: none;
}
.btn.site-btn {
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 1.6rem;
  line-height: 1.63;
  font-weight: 700;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.2);
  padding: 8px 20px;
  min-height: 52px;
}
@media screen and (min-width: 992px) {
  .btn.site-btn {
    font-size: 1.6rem;
    line-height: 1.63;
  }
}
@media (max-width: 991px) {
  .btn.site-btn {
    padding: 5px 20px;
    font-size: 1.4rem;
    min-height: 38px;
  }
}
.btn.site-btn.btn-rightarrow {
  padding-right: 55px;
}
.btn.site-btn.btn-rightarrow .right-icon {
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 24px;
  font-size: 1.6rem;
  line-height: 1.63;
}
@media screen and (min-width: 992px) {
  .btn.site-btn.btn-rightarrow .right-icon {
    font-size: 1.6rem;
    line-height: 1.63;
  }
}
@media (max-width: 991px) {
  .btn.site-btn.btn-rightarrow .right-icon {
    right: 15px;
  }
}
.btn.site-btn .btn-text {
  margin-left: 20px;
  margin-right: 20px;
}
.btn.site-btn.btnsm {
  font-size: 1.4rem;
  line-height: 1.15;
}
@media screen and (min-width: 992px) {
  .btn.site-btn.btnsm {
    font-size: 1.4rem;
    line-height: 1.143;
  }
}
.btn.site-btn-pri-bg {
  background-color: #6dc8bf;
  color: #000;
  border-color: #6dc8bf;
}
.btn.site-btn-pri-bg:hover {
  background-color: #e9f7f6;
}
.btn.site-btn-sec-bg {
  background-color: #f79548;
  border-color: #f79548;
}
.btn.site-btn-sec-bg:hover {
  background-color: #fadcc5;
}
.btn.site-btn-white-bg {
  background-color: #fff;
  border-color: #fff;
}
.btn.site-btn-white-bg:hover {
  background-color: #fadcc5;
  border-color: #f79548;
}

.input-select.input-group {
  border-radius: 26px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.24);
}
.input-select.input-group .go-btn {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  background: #fff;
  padding: 5px 15px;
  border-top-right-radius: 26px;
  border-bottom-right-radius: 26px;
  border: 2px solid #fff;
  margin-left: 2px !important;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
}
.input-select.input-group .go-btn:hover {
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  background-color: #fadcc5;
  border-color: #f79548;
}
.input-select.input-group .form-select {
  padding: 5px 25px;
  border-top-left-radius: 26px;
  border-bottom-left-radius: 26px;
  border-color: transparent;
  font-size: 1.6rem;
  line-height: 1.63;
  color: #000;
  font-weight: 700;
}
@media screen and (min-width: 992px) {
  .input-select.input-group .form-select {
    font-size: 1.6rem;
    line-height: 1.63;
  }
}
.input-select.input-group .form-select:focus {
  box-shadow: none;
}
@media (min-width: 992px) {
  .input-select.input-group .form-select {
    padding: 15px 25px;
  }
}

.next-prev-sider {
  position: relative;
  width: 130px;
  display: flex;
  justify-content: space-between;
  height: 54px;
  margin-top: 35px;
}
.next-prev-sider > * {
  width: 52px;
  height: 52px;
  border-radius: 26px;
  position: relative;
  right: inherit;
  left: inherit;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.16);
  border: 2px solid #fff;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  background: #fff;
  font-size: 16px;
  color: #000;
  border: 2px solid #fff;
}
.next-prev-sider > *:hover {
  background-color: #fadcc5;
  border-color: #f79548;
}
.next-prev-sider > *:after {
  display: none;
}
.next-prev-sider > * svg {
  width: 17px;
}
.next-prev-sider > *.swiper-button-disabled {
  opacity: 1;
}
.next-prev-sider > *.swiper-button-disabled > * {
  opacity: 0.35;
}

.swiper-slide-height-auto {
  height: auto;
}
.swiper-slide-height-auto > * {
  height: 100%;
}

.main-header {
  padding-top: 30px;
}
@media (max-width: 991px) {
  .main-header {
    padding-top: 17px;
  }
}
.main-header .quick-links .site-language {
  margin-left: 30px;
}
.main-header .quick-links .site-language a {
  color: #000;
  font-size: 1.6rem;
  line-height: 1.63;
}
@media screen and (min-width: 992px) {
  .main-header .quick-links .site-language a {
    font-size: 1.6rem;
    line-height: 1.63;
  }
}
.main-header .quick-links .site-language a:hover {
  color: #6dc8bf;
}
.main-header .quick-links .places-selection select {
  border: 2px solid #f79548;
  border-radius: 50px;
  min-width: 130px;
  font-weight: 700;
  padding-left: 7px;
  padding-right: 25px;
  height: 30px;
  background-image: url(../images/icon/accodion-down-arrrow-icon.svg);
  background-position: right 7px center;
  background-repeat: no-repeat;
  background-size: 13px auto;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
}
.main-header .search-site {
  border: 0;
  background: 0;
  margin-left: 15px;
  padding: 0;
}
.main-header .logo a img {
  width: 119px;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
}
@media (max-width: 991px) {
  .main-header .logo a img {
    width: 75px;
  }
}
@media (max-width: 575px) {
  .main-header .logo a img {
    width: 66px;
  }
}
.main-header .main-menu .search-site {
  display: none;
}
.main-header.sticky {
  position: fixed;
  background: #fffdf8;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding-top: 10px;
  top: 0px;
  padding-bottom: 10px;
  z-index: 999;
}
.main-header.sticky .logo a img {
  width: 63px;
}
.main-header.sticky .quick-links {
  display: none !important;
}
.main-header.sticky .main-menu .search-site {
  display: block;
}
.main-header.sticky .header-search-holder {
  width: 80%;
  top: 2px;
}
.main-header.sticky .header-search-holder input {
  background-color: #fffdf8;
}

.header-search-holder {
  position: absolute;
  right: 0;
  left: auto;
  display: none;
  width: 77%;
  top: 0;
}
.header-search-holder .form-wrapper {
  position: relative;
}
.header-search-holder input {
  border: 0;
  border-bottom: 1px solid #000;
  border-radius: 0;
  color: #000;
  background-color: #e9f7f6;
  font-size: 1.6rem;
  line-height: 1.63;
  padding: 5px 20px 5px 40px;
}
@media screen and (min-width: 992px) {
  .header-search-holder input {
    font-size: 1.6rem;
    line-height: 1.63;
  }
}
.header-search-holder input:focus {
  background-color: #e9f7f6;
  box-shadow: none;
  border-bottom-color: #000;
}
.header-search-holder .search-btn, .header-search-holder .cross-btn {
  border: none;
  position: absolute;
  background: transparent;
  width: 30px;
  height: 30px;
  bottom: 0;
  top: 0;
  margin: auto;
}
.header-search-holder .cross-btn {
  right: 0;
}
.header-search-holder .search-btn {
  left: 0;
}
@media (max-width: 1199px) {
  .header-search-holder {
    top: 63px;
    margin-left: calc(-50vw + 50%);
    background-color: #fffdf8;
    width: 100vw;
    padding: 10px 20px 15px;
    left: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
  .header-search-holder input {
    background-color: #fffdf8;
    height: 60px;
  }
}

.on-header .scrolling-section .quick-links {
  text-align: right;
  margin-bottom: 60px;
}
@media (min-width: 1200px) {
  .on-header .scrolling-section .quick-links {
    display: none;
  }
}
.on-header .scrolling-section .quick-links .site-language {
  text-align: right;
  margin-bottom: 30px;
}
.on-header .scrolling-section .navbar-nav {
  align-items: flex-end;
}

.main-menu .navbar-nav .nav-item {
  position: relative;
}
@media (max-width: 1199px) {
  .main-menu .navbar-nav .nav-item {
    text-align: right;
  }
}
.main-menu .navbar-nav .nav-item .nav-link {
  position: relative;
  padding: 15px 30px;
  color: #000;
  font-size: 1.6rem;
  line-height: 1.63;
  line-height: 1.2 !important;
  font-weight: 700;
}
@media screen and (min-width: 992px) {
  .main-menu .navbar-nav .nav-item .nav-link {
    font-size: 1.6rem;
    line-height: 1.63;
  }
}
@media (max-width: 1199px) {
  .main-menu .navbar-nav .nav-item .nav-link {
    display: inline-block;
    padding: 15px 0px;
  }
}
.main-menu .navbar-nav .nav-item .nav-link::before {
  width: 0;
  height: 2px;
  background-color: #000;
  content: "";
  position: absolute;
  bottom: 15px;
}
@media (min-width: 1200px) {
  .main-menu .navbar-nav .nav-item .nav-link:hover::before {
    width: calc(100% - 60px);
  }
}
.main-menu .navbar-nav .nav-item .nav-link.dropdown-toggle::after {
  background: url(../images/icon/accodion-down-arrrow-icon.svg) no-repeat;
  background-size: contain;
  border: 0px;
  width: 13px;
  height: 10px;
  margin-left: 5px;
  vertical-align: middle;
}
.main-menu .navbar-nav .nav-item .nav-link .ext-icon i, .main-menu .navbar-nav .nav-item .nav-link .ext-icon svg {
  transform: rotate(-45deg);
}
.main-menu .navbar-nav .nav-item:last-child .nav-link {
  padding-right: 0px;
}
.main-menu .navbar-nav .nav-item:last-child .nav-link:hover::before {
  width: calc(100% - 30px);
}
.main-menu .navbar-nav .nav-item .dropdown-menu {
  border-radius: 0 15px 15px 15px;
  background-color: #fffdf8;
  border: none;
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 15px;
}
@media (min-width: 1200px) {
  .main-menu .navbar-nav .nav-item .dropdown-menu {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    width: 270px;
    display: block !important;
    opacity: 0;
  }
}
.main-menu .navbar-nav .nav-item .dropdown-menu li {
  padding-bottom: 5px;
}
@media (max-width: 1199px) {
  .main-menu .navbar-nav .nav-item .dropdown-menu li {
    text-align: right;
  }
}
.main-menu .navbar-nav .nav-item .dropdown-menu li a {
  font-size: 1.6rem;
  line-height: 1.63;
  padding: 3px 30px;
}
@media screen and (min-width: 992px) {
  .main-menu .navbar-nav .nav-item .dropdown-menu li a {
    font-size: 1.6rem;
    line-height: 1.63;
  }
}
.main-menu .navbar-nav .nav-item .dropdown-menu li .dropdown-item {
  white-space: normal;
}
.main-menu .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  opacity: 1;
}
.main-menu .navbar-nav .nav-item.dropdown:hover::after {
  content: "";
  width: 100%;
  height: 20px;
  bottom: -10px;
  display: inline-block;
  position: absolute;
  left: 0;
  background-color: #fffdf8;
  z-index: 1000;
}
.main-menu .navbar-nav .nav-item.dropdown:hover .nav-link {
  border-radius: 15px 15px 0 0;
  background-color: #fffdf8;
}
@media (min-width: 1200px) {
  .main-menu .navbar-nav .nav-item.dropdown:hover .nav-link {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
}
.main-menu .navbar-nav .nav-item.dropdown li a.dropdown-item:hover, .main-menu .navbar-nav .nav-item.dropdown li a.dropdown-item:active, .main-menu .navbar-nav .nav-item.dropdown li a.dropdown-item:focus {
  background-color: transparent;
  color: #000;
  text-decoration: underline;
}

@media (max-width: 1199px) {
  .offcanvas-collapse {
    position: fixed;
    top: 100%;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 100px;
    padding-top: 30px;
    overflow-y: auto;
    visibility: hidden;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 1001;
    background: #fffdf8;
  }
  .offcanvas-collapse.show {
    visibility: visible;
    transform: translateY(-100%);
  }
}
.footer {
  background-repeat: no-repeat;
  background-position: center 0;
  padding: 160px 0 90px 0;
}
@media (max-width: 575px) {
  .footer {
    padding: 60px 0 100px 0;
  }
}
@media (max-width: 1199px) {
  .footer {
    background-size: cover;
  }
}
.footer.footer-main {
  background-image: url(../images/homepage-footer-bg-d.png);
}
@media (max-width: 1199px) {
  .footer.footer-main {
    background-image: url(../images/homepage-footer-bg-m.png);
  }
}
.footer.on-footer-main {
  background-image: url(../images/on-footer-bg-d.png);
  background-color: #f4f2ec;
}
@media (max-width: 1199px) {
  .footer.on-footer-main {
    background-image: url(../images/on-footer-bg-m.png);
  }
}
.footer .col-title {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.63;
  margin-bottom: 16px;
}
@media screen and (min-width: 992px) {
  .footer .col-title {
    font-size: 1.6rem;
    line-height: 1.63;
  }
}
.footer .footer-row > * {
  position: relative;
}
.footer .footer-row > *:before {
  content: "";
  background: rgba(64, 61, 68, 0.2);
  position: absolute;
  bottom: 0;
}
@media (min-width: 768px) {
  .footer .footer-row > *:before {
    top: 0;
    width: 2px;
    left: -15px;
  }
}
@media (max-width: 767px) {
  .footer .footer-row > *:before {
    height: 2px;
    left: 20px;
    right: 20px;
  }
}
.footer .footer-row > *:first-child:before {
  display: none;
}
@media (max-width: 767px) {
  .footer .footer-row > * {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .footer .footer-logo {
    width: 86px;
  }
}
.footer .footer-nav ul li {
  margin-right: 20px;
}
.footer .footer-nav ul li a {
  position: relative;
}
.footer .footer-nav ul li a:before {
  content: "|";
  position: absolute;
  right: -11px;
  color: #413d45;
}
.footer .footer-nav ul li:last-child {
  margin-right: 0px;
}
.footer .footer-nav ul li:last-child a:before {
  display: none;
}
.footer .copyright {
  margin-top: 100px;
  font-size: 12px;
}
@media (max-width: 767px) {
  .footer .copyright {
    width: 100%;
    margin-top: 60px;
  }
}
.footer .input-select {
  width: calc(100% - 30px);
}
@media (max-width: 767px) {
  .footer .input-select {
    width: 100%;
  }
}
.footer .pride-icon img {
  width: 73px;
}
.footer .partner-wrap .province-logo {
  width: 156px;
}
.footer .partner-wrap {
  margin-top: 90px;
}
@media (max-width: 767px) {
  .footer .partner-wrap {
    margin-top: 30px;
  }
}
.footer .scrollTop {
  position: absolute;
  right: 20px;
  bottom: -20px;
}
.footer .scrollTop a {
  font-size: 5rem;
}

.exit {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 90px;
  z-index: 99;
}
@media (min-width: 992px) {
  .exit {
    bottom: 30px;
    display: inline-flex;
  }
}
.exit a {
  width: 52px;
  height: 52px;
  border-radius: 26px;
  border: 2px solid transparent;
  background-color: #fff;
  font-size: 12px;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.24);
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
}
.exit a:hover {
  border-color: #f79548;
  color: #000;
  background: #fadcc5;
  text-decoration: underline;
}
.exit a img {
  width: 20px;
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1140px;
  }
}
@media (max-width: 991px) {
  .cmn-con-pad-m .container, .cmn-con-pad-m .container-lg, .cmn-con-pad-m .container-md, .cmn-con-pad-m .container-sm, .cmn-con-pad-m .container-xl, .cmn-con-pad-m .container-xxl {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.heading-1 {
  font-size: 2.6rem;
  line-height: 1.31;
  font-weight: 700;
  color: #000;
}
@media screen and (min-width: 992px) {
  .heading-1 {
    font-size: 4.2rem;
    line-height: 1.145;
  }
}

.heading-2 {
  font-size: 1.8rem;
  line-height: 1.31;
  font-weight: 700;
  color: #000;
}
@media screen and (min-width: 992px) {
  .heading-2 {
    font-size: 2.6rem;
    line-height: 1.145;
  }
}

.heading-3 {
  font-size: 1.6rem;
  line-height: 1.15;
  font-weight: 700;
  color: #000;
}
@media screen and (min-width: 992px) {
  .heading-3 {
    font-size: 1.8rem;
    line-height: 1.45;
  }
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-30 {
  margin-top: 30px;
}

.cmn-py-90 {
  padding: 60px 0;
}
@media (min-width: 992px) {
  .cmn-py-90 {
    padding: 90px 0;
  }
}

.site-bg-light {
  background-color: #F4F2EC;
}

.cards {
  padding: 20px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0);
  outline: 0;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.29);
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
}
.cards:hover {
  border-color: #f79548;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
}
.cards .cards-body {
  line-height: 1.5;
  text-align: left;
  padding: 20px;
}

.gb-container-image-wrap {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  z-index: 0;
}
.gb-container-image-wrap .gb-container-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: 0.3s ease;
}
.gb-container-image-wrap .h-auto {
  height: auto;
}

.ext-icon svg, .ext-icon i {
  transform: rotate(-45deg);
}

.section-banner {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto;
  background-color: #F4F2EC;
  padding: 160px 0 150px 0;
  margin-top: -150px;
}
@media (min-width: 992px) {
  .section-banner {
    margin-top: -137px;
  }
}
@media (max-width: 991px) {
  .section-banner {
    background-size: cover;
  }
}
.section-banner.section-banner-main {
  background-image: url(../images/homepage-header-bg-d.png);
}
@media (max-width: 991px) {
  .section-banner.section-banner-main {
    background-image: url(../images/homepage-header-bg-m.png);
  }
}
@media (min-width: 992px) {
  .section-banner.section-banner-main {
    margin-top: -197px;
  }
}
.section-banner.section-banner-on {
  background-image: url(../images/on-header-bg-d.png);
}
@media (max-width: 991px) {
  .section-banner.section-banner-on {
    background-image: url(../images/on-header-bg-m.png);
  }
}
@media (min-width: 992px) {
  .section-banner.section-banner-on .caption {
    margin-top: 50px;
    margin-bottom: 170px;
  }
}
@media (max-width: 991px) {
  .section-banner.section-banner-on .caption {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.section-banner .caption .heading-2 {
  margin-bottom: 30px;
}

.list-icon-btn-wrap li {
  margin-bottom: 10px;
}
.list-icon-btn-wrap li .list-btn {
  position: relative;
  padding-left: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 992px) {
  .list-icon-btn-wrap li .list-btn {
    min-height: 52px;
  }
}
@media (max-width: 991px) {
  .list-icon-btn-wrap li .list-btn {
    padding-left: 20px;
  }
}
@media (max-width: 1199px) {
  .list-icon-btn-wrap li .list-btn {
    line-height: 1;
    padding: 8px 20px;
  }
}
@media (max-width: 991px) {
  .list-icon-btn-wrap li .list-btn .btn-text {
    margin-left: 0;
  }
}
@media (max-width: 1199px) {
  .list-icon-btn-wrap li .list-btn.btn-rightarrow {
    padding: 8px 20px;
  }
}
.list-icon-btn-wrap li .list-btn .list-icon {
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  left: 5px;
}
.list-icon-btn-wrap li .list-btn .list-icon img {
  width: 100%;
  height: 100%;
}
@media (max-width: 991px) {
  .list-icon-btn-wrap li .list-btn .list-icon {
    display: none;
  }
}
.list-icon-btn-wrap li .list-btn .right-icon svg, .list-icon-btn-wrap li .list-btn .right-icon i {
  transform: rotate(-45deg);
  top: -10px !important;
}
.list-icon-btn-wrap li:last-child {
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .support_block {
    max-width: 430px;
  }
}
.support_block .button-holder {
  margin-top: 30px;
}
@media (max-width: 991px) {
  .support_block .button-holder .site-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
  }
}

.section-support {
  margin-top: 40px;
}

.support-box-wrap {
  height: 100%;
  background-image: linear-gradient(#f4f2ec 90px, #fff 0);
  padding: 20px 30px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.29);
}
.support-box-wrap-header .heading-3 {
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .support-box-wrap {
    padding: 12px 10px;
  }
}

.section-support-post-secondary {
  padding-bottom: 90px;
}

.section-post-secondary {
  overflow: hidden;
}
.section-post-secondary .carve-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.section-post-secondary .carve-bg img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.section-post-secondary .slider-sec {
  padding: 90px 0;
  z-index: 1;
  position: relative;
}
.section-post-secondary .slider-sec .slider-students-feeling {
  padding-top: 25px;
  margin-bottom: 60px;
}
.section-post-secondary .slider-sec .cards.quote-cards {
  border: none;
  height: 100%;
  padding-bottom: 57px;
}
.section-post-secondary .slider-sec .cards.quote-cards .quote-card-body {
  margin-top: 20px;
  margin-bottom: 40px;
}
.section-post-secondary .slider-sec .cards.quote-cards .quote-card-footer {
  margin-bottom: 20px;
  font-size: 1.4rem;
}
.section-post-secondary .slider-sec .swiper-slide {
  height: auto;
}
.section-post-secondary .slider-sec .swiper-slide:nth-of-type(1) .quote-cards, .section-post-secondary .slider-sec .swiper-slide:nth-of-type(4) .quote-cards, .section-post-secondary .slider-sec .swiper-slide:nth-of-type(7) .quote-cards {
  background: url(../images/quote-bg-1.svg) no-repeat left bottom;
}
.section-post-secondary .slider-sec .swiper-slide:nth-of-type(1) .quote-cards .quote-icon::before, .section-post-secondary .slider-sec .swiper-slide:nth-of-type(4) .quote-cards .quote-icon::before, .section-post-secondary .slider-sec .swiper-slide:nth-of-type(7) .quote-cards .quote-icon::before {
  content: url("../images/on-quote-icon.svg");
}
.section-post-secondary .slider-sec .swiper-slide:nth-of-type(2) .quote-icon::before, .section-post-secondary .slider-sec .swiper-slide:nth-of-type(5) .quote-icon::before, .section-post-secondary .slider-sec .swiper-slide:nth-of-type(8) .quote-icon::before {
  content: url("../images/ns-quote-icon.svg");
}
.section-post-secondary .slider-sec .swiper-slide:nth-of-type(2) .quote-cards, .section-post-secondary .slider-sec .swiper-slide:nth-of-type(5) .quote-cards, .section-post-secondary .slider-sec .swiper-slide:nth-of-type(8) .quote-cards {
  background: url(../images/quote-bg-2.svg) no-repeat right bottom;
}
.section-post-secondary .slider-sec .swiper-slide:nth-of-type(3) .quote-icon::before, .section-post-secondary .slider-sec .swiper-slide:nth-of-type(6) .quote-icon::before {
  content: url("../images/ns-quote-icon.svg");
}
.section-post-secondary .slider-sec .swiper-slide:nth-of-type(3) .quote-cards, .section-post-secondary .slider-sec .swiper-slide:nth-of-type(6) .quote-cards {
  background: url(../images/quote-bg-3.svg) no-repeat left bottom;
}

.on-banner-btn-wrap {
  background: url(../images/ontario/on-speech-bubble.png) no-repeat center center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 276px;
  padding-top: 55px;
  margin: 30px auto -80px auto;
}
@media (min-width: 1200px) {
  .on-banner-btn-wrap {
    width: 650px;
  }
}
@media (min-width: 768px) {
  .on-banner-btn-wrap {
    width: 100%;
    height: auto;
    padding-top: 24%;
    padding-bottom: 32%;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.on-banner-btn-wrap .list-icon-btn-wrap {
  width: 262px;
}
@media (min-width: 1200px) {
  .on-banner-btn-wrap .list-icon-btn-wrap {
    width: 60%;
  }
}
@media (min-width: 992px) {
  .on-banner-btn-wrap .list-icon-btn-wrap {
    width: 70%;
    max-width: 400px;
  }
}
.on-banner-btn-wrap .list-icon-btn-wrap .btn.site-btn .btn-text {
  margin-left: 0;
  margin-right: 0;
}

.on-section-support-service .heading-holder {
  max-width: 340px;
}

.support-cards {
  background-color: #fff;
  border-radius: 9px;
  padding: 20px 12px;
  height: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
}
.support-cards .media-img {
  margin-right: 2rem;
}
.support-cards .button-holder {
  margin-top: auto;
}
.support-cards .cards-body {
  flex: 1 1 auto;
  margin-bottom: 20px;
  margin-top: 15px;
}
.support-cards .button-holder .btn.site-btn.btn-rightarrow {
  padding-right: 47px;
}

.on-section-connexOntario .connex-img {
  margin-top: -100px;
}
@media (min-width: 992px) {
  .on-section-connexOntario .connex-img {
    margin-top: -140px;
  }
}
@media (max-width: 767px) {
  .on-section-connexOntario .btn.site-btn.btn-rightarrow {
    width: 100%;
  }
}

.cards.resources-cards {
  background-color: transparent;
  box-shadow: none;
  border: 0px;
}
.cards.resources-cards .cards-img {
  overflow: hidden;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.29);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0);
}
.cards.resources-cards .cards-img figure {
  position: relative;
  padding-top: 74%;
}
.cards.resources-cards .cards-img figure img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.cards.resources-cards .cards-img:hover {
  border-color: #f79548;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
}
.cards.resources-cards .cards-body {
  padding: 20px 0 15px;
}
.cards.resources-cards .cards-body .heading-3 {
  line-height: 1.45;
}
.cards.resources-cards .cards-body .heading-3 a {
  text-decoration: none;
  color: #000;
}
.cards.resources-cards .cards-body .heading-3 a:hover {
  text-decoration: underline;
}

.tag-list .tags {
  display: inline-flex;
  background-color: #fff;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  border: 2px solid transparent;
  padding: 0px 10px 2px;
  font-size: 1.4rem;
  color: #000;
  text-decoration: none;
}
.tag-list .tags:hover {
  border-color: #f79548;
  background-color: #fadcc5;
}

.insta-bg-wrap {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  z-index: 0;
}
.insta-bg-wrap img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
}

.insta-feed {
  padding: 24px 0 12px;
}
.insta-feed .next-prev-sider {
  margin-top: 55px;
}

.cards.insta-cards {
  border-color: transparent;
  background-color: #fff;
}
.cards.insta-cards:hover {
  border-color: #f79548;
}
.cards.insta-cards .cards-img {
  position: relative;
}
.cards.insta-cards .cards-img img {
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
}
.cards.insta-cards .cards-img::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
}
.cards.insta-cards .cards-img:hover::after {
  background-color: rgba(0, 0, 0, 0.6);
}
.cards.insta-cards .cards-img:hover img {
  transform: scale(1.05);
}

.on-section-contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #F4F2EC url(../images/ontario/gray-arch-white-bg.png) no-repeat center 0;
  background-size: contain;
}
@media (min-width: 992px) {
  .on-section-contact {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}
@media (max-width: 991px) {
  .on-section-contact .list-icon-btn-wrap li {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .on-section-contact .list-icon-btn-wrap li {
    width: 100%;
  }
}
.on-section-contact .gap-20 {
  gap: 20px;
}

.floating-tools {
  position: fixed;
  width: 85px;
  height: auto;
  display: flex;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.16);
  background: #fff;
  border: 2px solid transparent;
  border-radius: 200px;
  padding-top: 24px;
  padding-bottom: 30px;
  z-index: 99999;
}
@media (max-width: 1199px) {
  .floating-tools {
    bottom: 15px;
    width: auto;
    height: 60px;
    transform: translateX(-50%);
    left: 50%;
    right: auto;
    flex-direction: row;
    padding: 5px 24px 6px;
    gap: 30px;
    align-items: flex-end;
    top: auto;
  }
}
@media (max-width: 767px) {
  .floating-tools {
    top: auto;
    bottom: 15px;
    left: 20px;
    right: 20px;
    padding: 5px 20px 6px;
    transform: none;
    justify-content: space-between;
    width: calc(100% - 40px);
  }
}
.floating-tools .tool {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  margin-bottom: 20px;
}
@media (max-width: 1199px) {
  .floating-tools .tool {
    margin-bottom: 0px;
  }
}
.floating-tools .tool .icon {
  color: #f79548;
}
.floating-tools .tool .icon .fa-bars, .floating-tools .tool .icon .fa-xmark {
  font-size: 22px;
}
.floating-tools .tool .icon img {
  height: 32px;
  max-width: 32px;
}
@media (max-width: 1199px) {
  .floating-tools .tool .icon img {
    height: 26px;
    max-width: 26px;
  }
}
.floating-tools .tool .text {
  font-size: 1.2rem;
  color: #413d45;
  line-height: normal;
  white-space: nowrap;
}
.floating-tools .tool .ext-icon {
  color: #f79548;
  margin-left: -5px;
}
.floating-tools .tool:last-child {
  margin-bottom: 0px;
}
.floating-tools .tool:hover .text {
  text-decoration: underline;
}
@media (min-width: 1200px) {
  .floating-tools .tool.tool-menu {
    display: none;
  }
}
.floating-tools .tool.tool-menu .icon .fa-xmark {
  display: none;
}
.floating-tools .tool.tool-menu .icon .fa-bars {
  display: inline-block;
}
.floating-tools .tool.tool-menu.open .icon .fa-xmark {
  display: inline-block;
}
.floating-tools .tool.tool-menu.open .icon .fa-bars {
  display: none;
}
.floating-tools:hover {
  border-color: #f79548;
  background-color: #fadcc5;
}

/*# sourceMappingURL=style.css.map */
